:root{
    --primary: #202d3c;
    --primary-010: #192431;

    --secondary:#bea348;
    --secondary-010: #917a2f;

    --base: #9c9c82;
    --white:#fff;

    --black:#09090e;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
}